<%- include('partial/header'); -%>


<h1>About Us</h1>
<p> <h3>Embracing Anonymity, Empowering Connection<h3><br>

    Welcome to IncognitoTales!<br>
    <br>
    
    At IncognitoTales, we believe in the transformative power of sharing secrets and connecting through anonymity. Our platform is a sanctuary for individuals from all walks of life to express their deepest thoughts, unburden their souls, and find solace in the company of a supportive and understanding community.<br>
    <br>
    Our Mission:<br>
    
    We established IncognitoTales with a clear mission in mind - to create a safe, non-judgmental space where people can share their innermost secrets, feelings, and experiences without the fear of being identified. We understand the weight that secrets can carry, and our goal is to empower individuals to free themselves from the shackles of silence by embracing anonymity.</p>
<p><%=p%></p>

<%- include('partial/footer'); -%>