<%- include('partial/header'); -%>


<h1>Contact Us</h1>
<p1>Reach Out, We're Here to Listen<br>
    <br>

    Thank you for being a part of IncognitoTales and for entrusting us with your secrets and stories. We value your presence in our community and are committed to providing you with the best possible support and assistance.<br>
    
    Have a question, concern, or simply want to get in touch? We're here for you! <br>
    

    
    </p1>
<p><%=p%></p>
<h2><a href="mailto:thakuralok490@gmail.com">MAIL US</a> </h2>

<%- include('partial/footer'); -%>